@import url('BaseStyle.css');

#login-page{
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-title{
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
