@import url('BaseStyle.css');

@media (max-width: 768px){

    #nav{
        background-color: var(--color1);
        z-index: 1;
    }

    #nav-logo-container{
        border-radius: 2rem;
        background-color: var(--color4);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        margin-right: 0.5rem;
    }

    #nav-logo{
        height: 2.5rem;
    }

    #nav-title{
        font-size: 2rem;
        font-weight: bold;
    }

    #nav-container1{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0.5rem 1rem;
        align-items: center;
    }

    #nav-container2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #nav-container3{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    #nav-container4{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    #nav-container5{
        margin: 0.5rem 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    #img-exit{
        width: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        cursor: pointer;
    }

    #img-search{
        width: 2rem;
        margin: 0 0.5rem;
        cursor: pointer;
    }

    #input-search{
        background-color: var(--color4);
        color: var(--color2);
        color: var(--color1)
    }

    #input-search:active{
        border: 0 transparent;
    }


    .botton-icon{
        border-radius: 0.5rem;
        background-color: var(--color1);
        z-index: 1;
    }

    .botton-icon:hover{
        background-color: var(--color3);
    }
}
